body {
  margin: 0;
  font-family: 'Bellefair', serif;
  line-height: 1.5;
  margin: 0;
  color:dimgrey;
}

a {
  color: darkslategray;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: darkred;
}

img{
  max-width: 100%;
  width: auto;
  height: auto;
}

h2{
    font-family: 'Bellefair', serif;
    font-weight; 300;
    font-size; 36px;
    color: darkgreen;
}

h3{
    font-family: 'Bellefair', serif;
    font-weight; 300px;
    font-size; 36px;
    color: darkgreen;
}

 .container {
    max-width: 800px;
    margin: auto;
}

li{
 margin-bottom: 7px;
}

.cta 
  {  background-color: beige;
    font-size: 21px;
    padding: 30px;
    overflow: hidden;
    margin-top: 50px;
}

.cta h3
{
    font-size: 25px
}

.button {
  background: #08c;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
    margin: 5px;
  display: inline-block;
}

.alignleft {
    float: left;
    max-height: 50%;
    margin-right: 20px;
    margin-bottom: 14px;
}

.cta .alignleft {
    width: 200px;
}

.news {
   padding: 60px;
background-image:linear; 
}


.newsletter {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(img/ppp.jpg);
    background-position: center;
    background-size:cover;
    color:#fff;
    padding: 15px 20px 30px;
    font-size: 24px;
    text-align: center;
}
.newsletter h2{
    color:#ffff;
}

button, input, textarea{
  font: inherit;  
  color: inherit;
}

.newsletter input{
  background: transparent;
  border: 0.5px solid #fff; 
  padding: 5px;
  width: 300px;
  
  color:#ffff; 
}

.newsletter input:focus{
    outline: 0;
}

.newsletter .button{
    padding: 5px 30px;
    display: block;
    margin: 30px auto;
    width: 100px;
}

.newsletter .button:hover{
    cursor: pointer;
    background:#fff; 
    color:brown;
    
    
}