body {
  margin: 0;
  font-family: 'Bellefair', serif;
  line-height: 1.5;
  margin: 0;
  color:dimgrey;
}

a {
  color: darkslategray;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: darkred;
}

img{
  max-width: 100%;
  width: auto;
  height: auto;
}

h2{
    font-family: 'Bellefair', serif;
    font-weight; 300;
    font-size; 36px;
    color: darkgreen;
}

h3{
    font-family: 'Bellefair', serif;
    font-weight; 300px;
    font-size; 36px;
    color: darkgreen;
}

 .container {
    max-width: 800px;
    margin: auto;
}

li{
 margin-bottom: 7px;
}

.cta 
  {  background-color: beige;
    font-size: 21px;
    padding: 30px;
    overflow: hidden;
    margin-top: 50px;
}

.cta h3
{
    font-size: 25px
}

.button {
  background: #08c;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
    margin: 5px;
  display: inline-block;
}

.alignleft {
    float: left;
    max-height: 50%;
    margin-right: 20px;
    margin-bottom: 14px;
}

.cta .alignleft {
    width: 200px;
}
    

