body {
  margin: 0;
  font-family: 'Bellefair', serif;
  line-height: 1.5;
  color:dimgrey;
}

a {
  color: darkslategray;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: darkred;
}

img{
  max-width: 100%;
  width: auto;
  height: auto;
}

h2{
    font-family: 'Bellefair', serif;
    font-weight; 300;
    font-size; 36px;
    color: darkgreen;
}

div {
    max-width: 800px;
    margin: auto;
    background-color: beige;
}
