.logo{
  max-width: 180px;
  display: block;
  margin: 10px auto;
}

body{
    font-family: 'Assistant', sans-serif;
    margin:0;
    line-height: 1.5;

}

h1, h2, h3, .butten{
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
}

.about{
    background:url(img/%D7%9E%D7%A7%D7%A8%D7%95%D7%9F%D7%9F%D7%9F%D7%9F%D7%9F%D7%9F.jpg) center 40%;
    background-attachment: fixed;
    background-size: 100%;
    font-size:21px;
    color:#ec0b86;
    padding:50px 0 0
}

.container{
    max-width: 1024px;
    margin: auto;
}

img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
}

h1 {
    font-size: 42px;
    line-height: 1.1;
}


.about img {
    display: block;
}

.button{
    text-decoration: none;
    background:#fff; 
    color:#ec0b86;
    border: 0.7px solid #ec0b86;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 15px;
    transition: 0.3s;
    border-radius: 100px;
    cursor: pointer;
}

.button:hover{
   cursor: pointer;
   background: #ec0b86;
   color: #ffff;
}

.gallery{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 28px;
  grid-gap: 40px;
  font-size: 21px;
  text-align: center;
  color:#58893e;
}

.gallery img{
  display: block;
}

h2{
  font-size: 35px;
  text-align: center;
  color: #c3db99; 
}

.newsletter {
    color:#ec0b86;
    padding:0 0 10px;
    font-size: 20px;
    text-align: center;
}

button, input, textarea{
  font: inherit;  
  color: inherit;
}

.newsletter h2{
    color:#ec0b86;
    margin-top: 50px;
    font-size: 24px;
}

.newsletter input{
  background: transparent;
  border: 0.5px solid #ec0b86; 
  padding: 5px;
  width: 300px; 
}

.newsletter input:focus{
    outline: 0;
    background:rgba(248,208,230,0.1); 
    color:#ec0b86;
}

.newsletter .button{
    background: #fff;
    color: #ec0b86;
    padding: 5px 30px;
    margin: 20px auto;
    width: 100px;
}

.newsletter .button:hover{
    cursor: pointer;
    background:#ec0b86; 
    color:#fff;
}

label {
    margin-left: 20px;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
    grid-gap: 40px;
    background:#d5f2b8;
    font-size: 21px;
    text-align: center;
    padding: 20px 0;
}

.contact h2{
    color: #fff;
    margin: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

.contact a:hover{
    opacity: 0.6;
}

.contact ul{
  list-style: none;
  padding: 0;
  color:#58893e; 
}

.contact li{
  margin-bottom: 5px;
}

.footer{
  background: #ffff;
  text-align: center;
  padding: 15px 0;
}

.footer a{
  margin: 0 12px;
}
