@font-face{
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'OS Aran_400FFC';
  src: url('fonts/aran/os_aran_400ffc-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'OS Aran_W_500FFC';
  src: url('fonts/aran/os_aran_w_500ffc-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family:'carmela' ;
  src: url('fonts/carmela/400/carmela.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  font-family: 'OS Aran_W_500FFC','OS Aran_400FFC','opensans', sans-serif;
  line-height: 1.5;
}

img{
    max-width: 100%;
    width: auto;
    height: auto;
}

h1{ 
    font-size: 50px;
    font-family:
    font-weight: 500;
    color: #6c2f41;
}

h1:after{
    content: "";
    border-bottom: 2px solid #6c2f41;
    width: 250px;
    display: block;
    margin: auto;
}

h2{
    font-size: 35px;
    color:#fff;
    font-family:OS Aran_400FFC; }

p{
    font-family:;
    font-weight: 400;
    font-size: 30px;
}

h3{
    color: #6b2f42;
    font-size: 25px;
}

.button{
    text-decoration: none;
    color: #6c2f41;
    background:#fff;
    border:2px solid #6c2f41;
    padding:  12px 18px;
    display: inline-block;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 100px;
    cursor: pointer;
}

.button:hover{
    background: #f54907;
    color:#fff;
    cursor: pointer;
    border:  2px solid #fff;
}

.button:after{
    content: " >";   
}

.container {
    max-width: 1500px;
    margin: auto;
}

.banner{
    background-image:
    url(img/%D7%A8%D7%A7%D7%A2%202.jpg);
  background-position: center 70%;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container{
    text-align: center;
    padding: 15px;
    color:#fff;
}

.features{
    background:#fff;
    text-align: center;
}

.features ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 70px;  
}

.features img{
    max-width: 130px;
}

footer{
    background:  #01aff4;
    color: #fff;
    text-align: center;
    padding: 2px;
}

footer a{
    color: #fff;
}

header {
  text-align: center;
}

nav ul{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #712c43;
  padding: 10px;
  display: block;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-bottom-color: #01aff4;
}

nav li {
  margin: 0 10px;
}
